	@font-face {
			font-family: "Intro";
			src: url("Intro.eot");
			src: url("Intro.eot?#iefix")format("embedded-opentype"),
			url("Intro.woff") format("woff"),
			url("Intro.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansRegular";
			src: url("OpenSansRegular.eot");
			src: url("OpenSansRegular.eot?#iefix")format("embedded-opentype"),
			url("OpenSansRegular.woff") format("woff"),
			url("OpenSansRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansLight";
			src: url("OpenSansLight.eot");
			src: url("OpenSansLight.eot?#iefix")format("embedded-opentype"),
			url("OpenSansLight.woff") format("woff"),
			url("OpenSansLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansItalic";
			src: url("OpenSansItalic.eot");
			src: url("OpenSansItalic.eot?#iefix")format("embedded-opentype"),
			url("OpenSansItalic.woff") format("woff"),
			url("OpenSansItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansBold";
			src: url("OpenSansBold.eot");
			src: url("OpenSansBold.eot?#iefix")format("embedded-opentype"),
			url("OpenSansBold.woff") format("woff"),
			url("OpenSansBold/OpenSansBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansExtraBold";
			src: url("OpenSansExtraBold.eot");
			src: url("OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
			url("OpenSansExtraBold.woff") format("woff"),
			url("OpenSansExtraBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansExtraBoldItalic";
			src: url("OpenSansExtraBoldItalic.eot");
			src: url("OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("OpenSansExtraBoldItalic.woff") format("woff"),
			url("OpenSansExtraBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansBoldItalic";
			src: url("OpenSansBoldItalic.eot");
			src: url("OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("OpenSansBoldItalic.woff") format("woff"),
			url("OpenSansBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansRegularItalic";
			src: url("OpenSansRegularItalic.eot");
			src: url("OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
			url("OpenSansRegularItalic.woff") format("woff"),
			url("OpenSansRegularItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansSemiBold";
			src: url("OpenSansSemiBold.eot");
			src: url("OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
			url("OpenSansSemiBold.woff") format("woff"),
			url("OpenSansSemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansSemiBoldItalic";
			src: url("OpenSansSemiBoldItalic.eot");
			src: url("OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("OpenSansSemiBoldItalic.woff") format("woff"),
			url("OpenSansSemiBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}